#!/bin/bash
####
# configuration file for build.sh that defines following variables
####
# ASK_TO_DUMP_ISO=0|1
# ASK_TO_RUN_ISO=0|1
# ASK_TO_UPLOAD_ISO=0|1
# BE_VERBOSE=0|1
# IS_DRY_RUN=0|1
# IS_FORCED=0|1
# KERNEL="linux|linux-lts"
# REPO_INDEX="last|week|month|yyyy/mm/dd"
# SHOW_HELP=0
# USE_DKMS=0|1
# USE_OTHER_REPO_INDEX=0|1
