#!/bin/bash
####
# configuration file for build.sh that defines following variables
####
# 0 = true
# 1 = false
####
# ASK_TO_DUMP_ISO=0|1
# ASK_TO_RUN_ISO=0|1
# ASK_TO_UPLOAD_ISO=0|1
# BE_VERBOSE=0|1
# IS_DRY_RUN=0|1
# IS_FORCED=0|1
# REPO_INDEX="last|week|month|yyyy/mm/dd"
# SHOW_HELP=0
# USE_DKMS=0|1#@deprecated
# ref: https://wiki.archlinux.org/title/ZFS
# take a look to 1.1
USED_PACKAGE='dkms' #linux | linux-lts | dkms
USE_GIT_PACKAGE=0
# USE_OTHER_REPO_INDEX=0|1
